/* You can add global styles to this file, and also import other style files */

@import "src/assets/css/grid.scss";
@import "src/assets/css/navbar.scss";


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.scroll {
    // overflow-y: auto;
    /* Works on mozila*/
    scrollbar-color: #848484 #e8e8e8 !important;
    scrollbar-width: thin !important;
  
    /* Works on Chrome, Edge, and Safari */
    &::-webkit-scrollbar {
      width: 5px !important;
    }
  
    &::-webkit-scrollbar-track {
      background: #e8e8e8;
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: #848484;
      border-radius: 20px;
    }
  }

  img {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }